<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AXIT</title>
    <link rel="stylesheet" href="/vendors/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/resources/css/main.css"/>
    <link rel="stylesheet" href="/resources/css/queries.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="152x152" href="/resources/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="/resources/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/resources/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/resources/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>

      <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand uppercase" href="#">Ax<span>it</span></a>
    </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- header -->
    <header>
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="uppercase">Ax<span>it</span></h1>
              <p class="main-p uppercase">Modern Axure Template For Beautiful Prototypes</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justo commodo.
              </p>
              <button class="download-btn">Download</button>
            </div>
            <div class="col-md-6">
              <form class="center-block">
                <h2 class="text-center">Try Your <span>Free</span> Trial Today</h2>
                <input class="form-control" type="text" name="name" placeholder="Name" />
                <input class="form-control" type="email" name="email" placeholder="Email" />
                <input class="form-control" type="password" name="password" placeholder="Password" />
                <input class="btn btn-block" type="submit" value="Get Started" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Social Section -->

    <section class="social-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Social Media</h4>
            <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-md-8">
            <a href="#"><i class="fa fa-facebook fa-4x fa-fw"></i></a>
            <a href="#"><i class="fa fa-twitter fa-4x fa-fw"></i></a>
            <a href="#"><i class="fa fa-google-plus fa-4x fa-fw"></i></a>
            <a href="#"><i class="fa fa-pinterest fa-4x fa-fw"></i></a>
            <a href="#"><i class="fa fa-instagram fa-4x fa-fw"></i></a>
            <a href="#"><i class="fa fa-stumbleupon fa-4x fa-fw"></i></a>
            <a href="#"><i class="fa fa-rss fa-4x fa-fw"></i></a>
          </div>
        </div>
      </div>
    </section>

    <!-- Tabs Section -->
    <section class="tabs-section">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <ul class="list-unstyled tab-switch text-center uppercase">
              <li class="selected" data-class="tab-1">Tab 1</li>
              <li data-class="tab-2">Tab 2</li>
              <li data-class="tab-3">Tab 3</li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="tabs-content">
              <div class="tab-1">
                <h3>Tab Number One</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn btn-lg">Download</button>
              </div>
              <div class="tab-2">
                <h3>Tab Number two</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn btn-lg">Download</button>
              </div>
              <div class="tab-3">
                <h3>Tab Number three</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn btn-lg">Download</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img class="img-responsive center-block" src="resources/img/Tab1.png"
          </div>
        </div>
      </div>
    </section>

    <!-- Sublist Section -->
    <section class="sublist-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="img-responsive img-shd" src="resources/img/sublist1.png">
          </div>
          <div class="col-md-6">
            <h3 class="head-border">Sublist Section</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="list-icon">
              <i class="fa fa-plus fa-2x"></i>
              <h4>Title 1</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="list-icon">
              <i class="fa fa-plus fa-2x"></i>
              <h4>Title 2</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Standard Picture Section -->
    <section class="std-picture-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-content">
            <h3 class="head-border">Standard Picture Section</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, et dolore magna aliqua.</p>
          </div>
          <div class="col-md-6">
            <img class="img-responsive img-shd" src="resources/img/StdPicture1.png" />
          </div>
        </div>
      </div>
    </section>

    <!-- This Is Awesome Section -->

    <section class="awesome-section text-center">
      <div class="container">
        <div>
          <h2 class="head-border uppercase">Why This Is Awesome</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-lightbulb-o"></i>
            <h3>Thoughfull Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.</p>
          </div>
          <div class="col-md-4">
            <i class="fa fa-keyboard-o"></i>
            <h3>Well Crafted</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.</p>
          </div>
          <div class="col-md-4">
            <i class="fa fa-flash"></i>
            <h3>Easy To Customize</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Prices Section -->
    <section class="prices-section text-center">
      <div class="container">
        <div>
          <h2 class="head-border uppercase">Pricing Options</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="row">
          <!-- Plan One -->
          <div class="col-md-4 not-famous">
            <div class="price-box">
              <h3 class="uppercase">Basic</h3>
              <div class="price-plan">
                <div class="price">$ <span class="price-price">0</span>
                  <p class="period">Free For Life</p>
                </div>
              </div>
              <ul class="list-unstyled plan-features">
                <li class="uppercase">1GB Of Space</li>
                <li class="uppercase">10GB of Bandwidth</li>
                <li class="uppercase">3 Websites</li>
                <li class="uppercase">Basic Customization</li>
                <li class="uppercase">Wordpress Integration</li>
                <li class="uppercase">Email Support</li>
              </ul>
            </div>
          </div>
          <!-- Plan Two -->
          <div class="col-md-4">
            <div class="price-box">
              <h3 class="uppercase">Professional</h3>
              <div class="price-plan">
                <div class="price">$ <span class="price-price">19</span>
                  <p class="period">Monthly Payment</p>
                </div>
              </div>
              <div class="famous-plan uppercase">
                Our Most Popular
              </div>
              <ul class="list-unstyled plan-features">
                <li class="uppercase">5GB Of Space</li>
                <li class="uppercase">50GB of Bandwidth</li>
                <li class="uppercase">12 Websites</li>
                <li class="uppercase">Advanced Customization</li>
                <li class="uppercase">Wordpress Integration</li>
                <li class="uppercase">Email Support</li>
              </ul>
            </div>
          </div>
          <!-- Plan Three -->
          <div class="col-md-4 not-famous">
            <div class="price-box">
              <h3 class="uppercase">Enterprice</h3>
              <div class="price-plan">
                <div class="price">$ <span class="price-price">70</span>
                  <p class="period">Monthly Payment</p>
                </div>
              </div>
              <ul class="list-unstyled plan-features">
                <li class="uppercase">Unlimited Space</li>
                <li class="uppercase">Unlimited Bandwidth</li>
                <li class="uppercase">100 Websites</li>
                <li class="uppercase">Advanced Customization</li>
                <li class="uppercase">Wordpress Integration</li>
                <li class="uppercase">24/7 Customer Support</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials Section -->
    <section class="testimonials-section">
      <div class="container">
        <div>
          <h2 class="head-border uppercase  text-center">What Orur Customers Are Saying</h2>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="client-quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.</p>
               <div class="media">
                <div class="media-left">
                  <img class="media-object" src="resources/img/Avatar.png">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Jeremy H.</h4>
                  <h6>Manager</h6>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <p class="client-quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.</p>
               <div class="media">
                <div class="media-left">
                  <img class="media-object" src="resources/img/Avatar.png">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Susan W.</h4>
                  <h6>Freelancer</h6>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <p class="client-quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.</p>
               <div class="media">
                <div class="media-left">
                  <img class="media-object" src="resources/img/Avatar.png">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">John S.</h4>
                  <h6>Photographer</h6>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Stylish Section -->
    <section class="stylish-section text-center">
      <div class="overlay">
        <div class="continer">
          <div class="row">
            <div class="col-md-12">
              <h2 class="head-border uppercase">Stylish Axure Design</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button>Download</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section text-center">
      <div class="container">
        <h2 class="head-border uppercase">Contact Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <form class="contact-form">
          <div class="row">
            <div class="col-md-6">
              <input class="form-control" type="text" name="contact-name" placeholder="Name">
              <input class="form-control" type="email" name="contact-email" placeholder="Email">
              <input class="form-control" type="subject" name="contact-subject" placeholder="Subject">
            </div>
            <div class="col-md-6">
              <textarea class="form-control" placeholder="Message"></textarea>
            </div>
          </div>
          <button>Send Message</button>
        </form>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
            <a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
            <a href="#"><i class="fa fa-google-plus fa-2x fa-fw"></i></a>
            <a href="#"><i class="fa fa-pinterest fa-2x fa-fw"></i></a>
            <a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a>
            <a href="#"><i class="fa fa-stumbleupon fa-2x fa-fw"></i></a>
            <a href="#"><i class="fa fa-rss fa-2x fa-fw"></i></a>
          </div>
          <p>&copy; 2015 Axure Themes</p>
        </div>
      </div>
    </footer>

    <!-- scripts -->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>

</html>
